<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>MaDe Editor</title>
    <link rel="stylesheet" href="/static/mdeditor/css/preview.css" />
    <link rel="stylesheet" href="/static/mdeditor/css/style.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/mdeditor/js/made.js"></script>
    <script type="text/javascript" src="/static/mdeditor/js/ace.js"></script>
    <script type="text/javascript" src="/static/mdeditor/js/mode-markdown.js"></script>
    <script type="text/javascript" src="/static/mdeditor/js/theme-twilight.js"></script>
    <script type="text/javascript" src="/static/mdeditor/js/theme-textmate.js"></script> 
    <script type="text/javascript" src="/static/mdeditor/js/Markdown.Converter.js"></script>
    <script>
	    $(function() {
	        $("input[name=title]").select();
	        $("form.compose").submit(function() {
	            var required = ["title", "markdown"];
	            var form = $(this).get(0);
	            for (var i = 0; i < required.length; i++) {
	                if (!form[required[i]].value) {
	                    $(form[required[i]]).select();
	                    return false;
	                }
	            }
	            $("#markdownarea").text(lastsource);
	            return true;
	        });
	      });
    </script>
</head>
<body>
<div id="bar">
    <form action="{{ request.path }}" method="post" class="compose">
    <h1 id="title">MaDe <span class="desc"><select name="mid">
    {% for category in categorys %}
        <option value="{{ category.mid }}" {% if entry and entry.mid == category.mid %}selected{%end%}>{{category.name}}</option>
    {% end %}
    </select></span>
    <span><input name="title" type="text" size="80" class="title" value="{{ escape(entry.title) if entry else "" }}"/></span>
    <span><input type="submit" value="{{ _("Save changes") if entry else _("Publish post") }}" class="submit"/>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ "/entry/" + entry.slug if entry else "/" }}" style="font-size:10px;">{{ _("Cancel") }}</a></span>
    </h1>
    <textarea id="markdownarea" name="markdown" rows="30" cols="80" class="markdown" style="display:none">{% if entry %}{{ escape(entry.markdown) if entry.markdown else escape(entry.html)}}{% end %}</textarea>
    {% if entry %}
      <input type="hidden" name="id" value="{{ entry.cid }}"/>
    {% end %}
    {{ xsrf_form_html() }}
    </form>
    <div id="control">
        <a href="#" class="button" id="import_button">
            <span class="label">Import</span>
        </a>
        <input type="file" id="import_file_button"/>
        <div id="export_button_wrapper">
        <a href="#" class="button" id="export_button">
            <span class="label">Export ▾</span>
        </a>
        <ul class="menu" id="export_menu"> 
            <li>
            <a class="menuitem" href="#" id="export_source_button">Export Source</a>
            </li>
            <li>
            <a class="menuitem" href="#" id="export_html_button">Export HTML</a>
            </li>
            <li>
            <a class="menuitem" href="#" id="export_full_html_button">Export HTML(Full)</a>
            </li>
        </ul>
        </div>
    </div>
    <div id="color_scheme"><label>Color Scheme</label>
        <a href="dark" id="color_scheme_dark" class="selected"><span/></a>
        <a href="light" id="color_scheme_light"><span/></a>
    </div>
</div>
<div id="container">
    <div class="pane" id="input" placeholder="type some markdown code or drag & drop a .md file here">
    </div>
    <div id="preview_pane" class="pane">
        <div id="preview"></div>
    </div>
</div>
</body>
</html>

