<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN"> 
<head> 
    <title>至尊宝地 &rsaquo; 登录</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<link rel='stylesheet' id='login-css'  href='/static/admin/login.css?ver=20110121' type='text/css' media='all' /> 
<link rel='stylesheet' id='colors-fresh-css'  href='/static/admin/colors-fresh.css?ver=20110121' type='text/css' media='all' /> 
<style type="text/css" media="screen"> 
    body { font: 13px "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif,"新宋体","宋体"; }
    .submit input, .button, input.button, .button-primary, input.button-primary, .button-secondary, input.button-secondary, .button-highlighted, input.button-highlighted, #postcustomstuff .submit input { font-size: 12px !important; }
</style> 
<meta name='robots' content='noindex,nofollow' /> 
</head> 
<body class="login"> 
<div id="login">
<h1>&nbsp;</h1> 
{% if tipmessages %}
<p class="message"> 
{% for msg in tipmessages %}
{{msg}}<br /> 
{% end %}
</p> 
{% end %}
 
<form name="loginform" id="loginform" action="{{ request.path }}" method="post"> 
    <p> 
        <label>用户名<br /> 
        <input type="text" name="username" id="user_login" class="input" value="" size="20" tabindex="10" /></label> 
    </p> 
    <p> 
        <label>密码<br /> 
        <input type="password" name="password" id="user_pass" class="input" value="" size="20" tabindex="20" /></label> 
    </p> 
    <p class="forgetmenot"><label><input name="rememberme" type="checkbox" id="rememberme" value="forever" tabindex="90" /> 记住我的登录信息</label></p> 
    <p class="submit"> 
        <input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="登录" tabindex="100" /> 
        <input type="hidden" name="redirect_to" value="/admin/list" /> 
        <input type="hidden" name="testcookie" value="1" /> 
    </p> 
    {{ xsrf_form_html() }}
</form> 
 
<p id="nav"> 
<a href="#" title="找回密码">忘记密码？</a> 
</p> 
</div> 
<p id="backtoblog"><a href="/" title="不知道自己在哪？">&larr; 回到 至尊宝地</a></p> 
 
<script type="text/javascript"> 
function wp_attempt_focus(){
setTimeout( function(){ try{
d = document.getElementById('user_login');
d.focus();
d.select();
} catch(e){}
}, 200);
}
 
if(typeof wpOnload=='function')
	wpOnload();
</script> 
</body> 
</html>